Django==3.2.13
environs==7.3.1
airspeed-ext>=0.6.1
amazon_kclpy>=2.0.6,!=2.1.0
antlr4-python3-runtime==4.12.0
apispec>=5.1.1
aws-sam-translator>=1.15.1
awscli>=1.22.90
awscrt>=0.13.14
boto>=2.49.0
boto3>=1.26.121
botocore>=1.31.2
cbor2>=5.2.0
crontab>=0.22.6
dnslib>=0.9.10
dnspython>=1.16.0
docker==6.0.1
flask>=2.3.2
flask-cors>=3.0.3,<3.1.0
flask_swagger==0.2.12
hypercorn>=0.14.4
json5==0.9.11
jsonpatch>=1.24,<2.0
jsonpath-ng>=1.5.3
jsonpath-rw>=1.4.0,<2.0.0
localstack-client>=2.0
moto-ext[all]==4.2.0.post1
opensearch-py==2.1.1
pproxy>=2.7.0
pymongo>=4.2.0
pyopenssl>=23.0.0
Quart>=0.18
readerwriterlock>=1.0.7
requests-aws4auth>=1.0
Werkzeug>=2.3.4
xmltodict>=0.11.0